@import 'loader.scss';

$breakpoints: (
        'extra-extra-small': (min-width: 420px),
        'extra-small': (min-width: 641px),
        'small': (min-width: 767px),
        'medium': (min-width: 992px),
        'large': (min-width: 1200px)
) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

#ccfw-form {
    h1 {
        line-height: 2rem;
    }
}

.ccfw-component-settings-section {
    padding: 10px;

    /**
    Specifically target our cookie management app
     */
    &.cookie-management-settings {
        .form-table th {
            width: 5px
        }

        .form-table td {
            position: relative;
        }
    }

    #ccfw-cookie-management-banner {
        max-width: 705px;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: auto;
            margin-left: -25px;

            @include respond-to('extra-extra-small') {
                margin-left: -230px;
                margin-bottom: -50px;
            }
        }
    }

    #debugging {
        padding: 0 20px;
        border: 1px #cccccc solid;
        background-color: #fbfbfb;
        max-width: 85vw;
        width: 80%;
        max-height: 200px;
        margin-top: -65px;
        margin-bottom: 30px;
        overflow: scroll;
        position: static;
        top: -10px;
        margin-left: 0;
        z-index: 2;

        @include respond-to('extra-extra-small') {
            margin-left: -25px;
        }
        @include respond-to('medium') {
            position: absolute;
            max-width: 35%;
            max-height: 78vh;
            margin-left: auto;
            right: 20px;
        }

        .debugging-icons {
            padding-bottom: 20px;
            border-bottom: 1px solid #cccccc;
        }

        #ccfw-import-container {
            .ccfw-import-cookie-object {
                width: 100%;
                min-height: 100px;
                margin-bottom: 18px;

                @include respond-to('medium') {
                    min-height: 50vh;
                }
            }
        }

        pre {
            position: relative;
            background-color: white;
            transition: background-color .3s;
            cursor: copy;

            &.copied {
                background-color: #f8ee89;

                &:before {
                    content: 'copied!';
                    position: absolute;
                    right: 10px;
                    top: 5px;
                    color: #cc0001
                }

            }
        }
    }

    h2 > .ccfw-icon__cookie {
        float: left;
        margin-right: 10px;
    }

    #ccfw-cookie-management {
        padding-bottom: 40px;
        position: relative;

        #ccfw-section-select-container {
            margin-bottom: 30px;

            select {
                margin-right: 10px;
            }
        }

        .ccfw-ajax {
            display: none;

            &.active {
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgb(58, 58, 58, 0.75);
                width: 100%;
                height: 100%;
                max-width: 50%;
                padding: 0 32px;
                z-index: 1;
            }
        }

        .ccfw-section {
            padding: 0 30px 20px;
            margin-bottom: 25px;
            border: 1px #cccccc solid;
            background-color: #fbfbfb;
            max-width: 88%;

            @include respond-to('medium') {
                width: 65%;
            }
            @include respond-to('large') {
                width: 50%;
            }

            &:hover {
                .ccfw-group {
                    transition: opacity .3s ease-in-out;
                    opacity: 0.2;

                    &:not(.ccfw-group__full-opacity) {
                        opacity: 1;
                    }

                    &:last-child {
                        opacity: 1;
                    }
                }
            }

            .ccfw-group {
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-bottom: 1px solid #dcdcdc;

                > input {
                    line-height: 1;
                    min-height: 25px;
                    margin: 0 3px 5px 0;

                    &.ccfw-form-input-invalid {
                        border-color: #9b0b0b;
                    }

                    .complete {
                        border-color: inherit;
                    }

                    @include respond-to('extra-small') {
                        margin-left: 15px;
                    }
                    @include respond-to('small') {
                        margin-left: 25px;
                    }

                }

                &:hover, &__full-opacity {
                    opacity: 1;
                }

                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: none;
                }

                &__heading, &__allowlist {
                    font-size: 1.05rem;
                    font-weight: 600;
                    margin-right: 0;
                    margin-bottom: 10px;

                    span {
                        color: #0b0c0c;
                        display: block;

                        @include respond-to('extra-extra-small') {
                            display: inline-block;
                        }
                    }

                }

                &__allowlist {
                    font-size: 0.8rem;
                    width: 60%;

                    @include respond-to('small') {
                        width: 20%;
                    }
                }

                &__name {
                    margin-right: 25px;

                    &-input {
                        line-height: 1;
                        min-height: 25px;
                    }
                }

                &__description {
                    padding: 0 0 8px;
                }

                .ccfw-cookie-row {
                    padding: 6px;
                    background-color: #f1f1f1;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    margin-bottom: 6px;
                    width: 96%;
                    position: relative;

                    &__ccfw-group-description {
                        width: 50%;

                        @include respond-to('extra-extra-small') {
                            width: 60%;
                        }
                    }

                    input {
                        margin-right: 0;
                        margin-bottom: 4px;
                        width: 85%;

                        @include respond-to('extra-extra-small') {
                            margin-left: 4px;
                        }
                        @include respond-to('extra-small') {
                            margin-left: 6px;
                            margin-bottom: 0;
                        }
                        @include respond-to('small') {
                            margin-left: 6px;
                            margin-bottom: 0;
                            width: 22%;
                        }
                        @include respond-to('medium') {
                            &:first-child {
                                margin-left: 0;
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &:hover {
                        background-color: #ffffbf;
                    }

                    &-add {
                        min-width: 111px;
                        float: right;
                        margin-right: -1%;
                        border: 1px solid #ccc;
                        background-color: #e1e1e1;
                        line-height: 1rem;
                        text-align: right;
                        margin-top: 11px;

                        @include respond-to('extra-extra-small') {
                            min-width: 143px;
                            margin-right: 1.5%;
                            text-align: center;
                        }

                        @include respond-to('extra-small') {
                            min-width: 143px;
                            margin-right: 2.5%;
                            text-align: center;
                            margin-top: 0;
                        }

                        svg {
                            top: 3px;
                            left: 5px;
                        }

                        &:hover {
                            background-color: #f1f2f2;
                        }
                    }

                    &-remove {
                        position: absolute;
                        right: -15px;
                    }

                    &__description {
                        @include respond-to('small') {
                            min-width: 50%;
                        }
                    }

                    .form-table td input[type="text"], .form-table td select, .form-table td textarea, .form-table span.description {
                        width: 100%;
                        display: inline-block;
                    }
                }
            }
        }

        button {
            background: transparent;
            border: transparent;
            position: relative;
            cursor: pointer;
            border-radius: 3px;
            width: 28px;
            height: 28px;

            svg {
                transition: fill 0.2s;
                position: absolute;
                top: -2px;
                left: 6px;
            }

            &.ccfw-group-name-change {
                svg {
                    left: 8px;

                    &:hover {
                        fill: #dd9a18
                    }
                }
            }

            &.ccfw-group-remove {
                svg {
                    left: 3px;

                    &:hover {
                        fill: #CC0000
                    }
                }
            }

            &.ccfw-section-remove {
                float: right;
                margin-top: 24px;
            }
        }
    }

    .form-table td input[type="text"], .form-table td select, .form-table td textarea, .form-table span.description {
        width: 80%;
        display: inline-block;

        @include respond-to('small') {
            width: inherit;
        }
    }
}