/**
*
* Cookie Compliance For Wordpress styles
* Based off of Gov.uk styling
*
**/
#ccfw-page-banner-container {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  display: block;
  border: 2px solid black;
  background-color: #ffffff;
  padding: 30px 10px;
  display: none; }

.ccfw-banner__wrapper {
  color: #00823b;
  font-size: 19px;
  line-height: 1.3157894737;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px; }

.ccfw-banner__heading {
  font-size: 24px;
  line-height: 1.25;
  padding-bottom: 12px; }

.ccfw-banner__message {
  display: block;
  margin-right: 12px;
  max-width: 680px;
  padding: 12px 0; }
  .ccfw-banner__message a {
    color: #00823b;
    text-decoration: underline; }

.ccfw-banner-button__wrapper a {
  color: #00823b;
  padding: 4px 8px; }
  .ccfw-banner-button__wrapper a:hover {
    text-decoration: underline; }

.ccfw-banner-button__wrapper button {
  font-size: 19px;
  font-family: inherit;
  font-weight: 300;
  border: none;
  background: #ffffff;
  padding: 2px 8px;
  cursor: pointer;
  color: #00823b; }
  .ccfw-banner-button__wrapper button:hover {
    text-decoration: underline; }

.ccfw-banner-button__wrapper:hover,
.ccfw-banner-button__wrapper :link,
.ccfw-banner-button__wrapper :active,
.ccfw-banner-button__wrapper :visited {
  color: #00823b;
  text-decoration: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.ccfw-banner-button {
  margin-top: 12px;
  padding: 6px;
  border: 2px solid #00823b;
  background-color: #ffffff; }
  .ccfw-banner-button:nth-child(2n) {
    margin-left: 0; }
  @media (min-width: 992px) {
    .ccfw-banner-button {
      display: inline; }
      .ccfw-banner-button:nth-child(2n) {
        margin-left: 8px; } }
  @media (min-width: 1200px) {
    .ccfw-banner-button {
      display: inline; }
      .ccfw-banner-button:nth-child(2n) {
        margin-left: 8px; } }

#ccfw-settings-page-container {
  display: block;
  width: 100%;
  padding: 20px 0 60px 0; }

.ccfw-settings-page__wrapper {
  margin: 0 auto;
  max-width: 960px; }

.ccfw-settings-page__row {
  padding: 0 10px; }
  .ccfw-settings-page__row h1,
  .ccfw-settings-page__row h2,
  .ccfw-settings-page__row h3,
  .ccfw-settings-page__row h4,
  .ccfw-settings-page__row h5,
  .ccfw-settings-page__row h6 {
    padding-top: 20px !important;
    padding-bottom: 10px !important; }
  .ccfw-settings-page__row ul {
    list-style-position: inside !important;
    padding: 20px 0; }

.ccfw-radios__item {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin: 20px 0 5px 0;
  padding-left: 40px;
  clear: left; }

@media print {
  .ccfw-radios__item {
    font-family: sans-serif; } }

@media (min-width: 40.0625em) {
  .ccfw-radios__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579; } }

@media print {
  .ccfw-radios__item {
    font-size: 14pt;
    line-height: 1.15; } }

.ccfw-radios__item:last-child,
.ccfw-radios__item:last-of-type {
  margin-bottom: 0; }

.ccfw-radios__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity: 0; }

.ccfw-radios__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

.ccfw-radios__label::before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background: transparent; }

.ccfw-radios__label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 0;
  height: 0;
  border: 10px solid currentColor;
  border-radius: 50%;
  opacity: 0;
  background: currentColor; }

.ccfw-radios__hint {
  display: block;
  padding-right: 15px;
  padding-left: 15px; }

.ccfw-radios__input:focus + .ccfw-radios__label::before {
  border-width: 4px;
  -webkit-box-shadow: 0 0 0 4px #fd0;
  box-shadow: 0 0 0 4px #fd0; }

.ccfw-radios__input:checked + .ccfw-radios__label::after {
  opacity: 1; }

.ccfw-radios__input:disabled,
.ccfw-radios__input:disabled + .ccfw-radios__label {
  cursor: default; }

.ccfw-radios__input:disabled + .ccfw-radios__label {
  opacity: .5; }

@media (min-width: 40.0625em) {
  .ccfw-radios--inline:after {
    content: "";
    display: block;
    clear: both; }
  .ccfw-radios--inline .ccfw-radios__item {
    margin-right: 20px;
    float: left;
    clear: none; } }

.ccfw-radios--inline.ccfw-radios--conditional .ccfw-radios__item {
  margin-right: 0;
  float: none; }

.ccfw-radios__divider {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  width: 40px;
  margin-bottom: 10px;
  text-align: center; }

@media print {
  .ccfw-radios__divider {
    font-family: sans-serif; } }

@media (min-width: 40.0625em) {
  .ccfw-radios__divider {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579; } }

@media print {
  .ccfw-radios__divider {
    font-size: 14pt;
    line-height: 1.15; } }

@media print {
  .ccfw-radios__divider {
    color: #000; } }

.ccfw-radios__conditional {
  margin-bottom: 15px;
  margin-left: 18px;
  padding-left: 33px;
  border-left: 4px solid #b1b4b6; }

@media (min-width: 40.0625em) {
  .ccfw-radios__conditional {
    margin-bottom: 20px; } }

.js-enabled .ccfw-radios__conditional--hidden {
  display: none; }

.ccfw-radios__conditional > :last-child {
  margin-bottom: 0; }

.ccfw-radios--small .ccfw-radios__item {
  min-height: 0;
  margin-bottom: 0;
  padding-left: 34px;
  float: left; }

.ccfw-radios--small .ccfw-radios__item:after {
  content: "";
  display: block;
  clear: both; }

.ccfw-radios--small .ccfw-radios__input {
  left: -10px; }

.ccfw-radios--small .ccfw-radios__label {
  margin-top: -2px;
  padding: 13px 15px 13px 1px;
  float: left; }

@media (min-width: 40.0625em) {
  .ccfw-radios--small .ccfw-radios__label {
    padding: 11px 15px 10px 1px; } }

.ccfw-radios--small .ccfw-radios__label::before {
  top: 8px;
  width: 24px;
  height: 24px; }

.ccfw-radios--small .ccfw-radios__label::after {
  top: 15px;
  left: 7px;
  border-width: 5px; }

.ccfw-radios--small .ccfw-radios__hint {
  padding: 0;
  clear: both;
  pointer-events: none; }

.ccfw-radios--small .ccfw-radios__conditional {
  margin-left: 10px;
  padding-left: 20px;
  clear: both; }

.ccfw-radios--small .ccfw-radios__divider {
  width: 24px;
  margin-bottom: 5px; }

.ccfw-radios--small .ccfw-radios__item:hover .ccfw-radios__input:not(:disabled) + .ccfw-radios__label::before {
  -webkit-box-shadow: 0 0 0 10px #b1b4b6;
  box-shadow: 0 0 0 10px #b1b4b6; }

.ccfw-radios--small .ccfw-radios__item:hover .ccfw-radios__input:focus + .ccfw-radios__label::before {
  -webkit-box-shadow: 0 0 0 4px #fd0, 0 0 0 10px #b1b4b6;
  box-shadow: 0 0 0 4px #fd0, 0 0 0 10px #b1b4b6; }

@media (hover: none), (pointer: coarse) {
  .ccfw-radios--small .ccfw-radios__item:hover .ccfw-radios__input:not(:disabled) + .ccfw-radios__label::before {
    -webkit-box-shadow: initial;
    box-shadow: initial; }
  .ccfw-radios--small .ccfw-radios__item:hover .ccfw-radios__input:focus + .ccfw-radios__label::before {
    -webkit-box-shadow: 0 0 0 4px #fd0;
    box-shadow: 0 0 0 4px #fd0; } }
