/**
*
* Cookie Compliance For Wordpress styles
* Based off of Gov.uk styling
*
**/

$_govuk-imported-modules: null;

// =========================================================
// Responsive mixins
// =========================================================

$breakpoints: ('extra-extra-small': (min-width: 420px),
        'extra-small': (min-width: 641px),
        'small': (min-width: 767px),
        'medium': (min-width: 992px),
        'large': (min-width: 1200px)) !default;

// The extra-extra small is for the cookie tables
/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name

@mixin respond-to($breakpoint) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

        // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// =========================================================
// Banner
// =========================================================

:root {
    --light: #F3F2F1;
    --dark: #005C2C;
    --xDark: #0B0C0C;
    --focus: #FD0;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

#ccfw-page-banner {
    /* Rems were causing problems because different base themes had a different base rem (some 16px, some 10px) */
    $govuk-typography-use-rem: false;
    $govuk-font-family: Arial, sans-serif;

    /* Import necessary components from the GOV.UK Frontend toolkit */
    @import "node_modules/govuk-frontend/govuk/base";
    @import 'node_modules/govuk-frontend/govuk/components/button/button';
    @import 'node_modules/govuk-frontend/govuk/components/details/details';
    @import 'node_modules/govuk-frontend/govuk/components/table/table';
    @import 'node_modules/govuk-frontend/govuk/core/typography';
    @import 'node_modules/govuk-frontend/govuk/core/links';
    @import 'node_modules/govuk-frontend/govuk/overrides/width';

    all: unset;
    // normalise CSS
    font-family: Arial, sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
    font-weight: 300;

    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    border-top: 2px solid govuk-colour("black"); // no var for improved IE ux
    background-color: govuk-colour("white"); // no var for improved IE ux
    padding: 18px 10px 0 10px;
    position: fixed;
    z-index: 9999;
    overflow-y: scroll;
    box-sizing: border-box;

    &.ccfw-cookie-banner-open {
        all: unset;
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
        width: 90%;
        height: 90%;
        border-top: 0;
        padding: 8px;
        position: fixed;
        z-index: 100000;
        display: block;
        background: govuk-colour("white");
        overflow-y: scroll;
        box-sizing: border-box;

        @include respond-to('extra-extra-small') {
            padding: 32px;
            top: 10%;
            left: 10%;
            right: 10%;
            bottom: 10%;
            width: 80%;
            height: 80%;
        }

        & .ccfw-banner__intro {
            display: none;
        }
    }

    & .ccfw-banner {
        all: unset;
        font-size: 19px;
        line-height: 1.3157894737;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 960px;
        display: block;

        &__heading {
            @extend .govuk-heading-m;
            font-size: 22px;
            margin-bottom: 12px;

            @include respond-to('small') {
                font-size: 24px;
            }
        }

        &__info-text {
            all: unset;
            display: block;
            margin-right: 12px;
            padding: 12px 0 6px;
            margin-bottom: 12px;
            @extend .govuk-body;
            font-size: 16px;
            padding-top: 0;

            @include respond-to('small') {
                font-size: 18px;
            }

            a {
                all: unset;
                color: var(--dark);
                text-decoration: underline;
                @extend .govuk-link;
            }
        }

        &__button {
            background-color: govuk-colour("green");
            color: govuk-colour("white");
            -webkit-text-fill-color: govuk-colour("white");
            border-radius: 5px;
            border: 2px solid transparent;
            box-shadow: none;
            padding: 5px 16px;
            margin-bottom: 18px;
            width: 100%;
            font-size: 19px;
            font-family: Arial, sans-serif;

            &:hover,
            &:active {
                background-color: govuk-shade(govuk-colour("green"), 20%);
            }

            &:focus {
                background-color: $govuk-focus-colour;
                box-shadow:
                        0 0 0 3px govuk-colour("black");
                outline: none;
                color: $govuk-text-colour;
                -webkit-text-fill-color: $govuk-text-colour;
            }

            &:focus:hover,
            &:active:hover {
                outline: 4px solid $govuk-focus-colour;
                background-color: govuk-shade(govuk-colour("green"), 20%);
                color: govuk-colour("white");
                -webkit-text-fill-color: govuk-colour("white");
            }

            @include respond-to('extra-small') {
                display: inline-block;
                width: auto;
            }

            &--close {
                box-shadow: none;
                border-radius: 0;
                float: right;
                background: none;
                border: 0;
                text-decoration: underline;
                color: $govuk-link-colour;
                -webkit-text-fill-color: $govuk-link-colour;
                margin-bottom: 16px;
                text-align: right;
                padding-right: 0;
                padding-left: 0;
                width: auto;
                @extend .govuk-link;

                &:focus:hover,
                &:focus {
                    color: $govuk-text-colour;
                    -webkit-text-fill-color: $govuk-text-colour;
                    background: $govuk-focus-colour;
                    border-bottom: 4px solid $govuk-text-colour;
                    box-shadow: none;
                    outline: none;
                }

                &:hover {
                    background-color: transparent;
                    color: $govuk-link-hover-colour;
                    -webkit-text-fill-color: $govuk-link-hover-colour;
                }

                &:active {
                    color: $govuk-link-active-colour;
                    border-bottom: 4px solid $govuk-link-active-colour;
                    background: $govuk-focus-colour;
                }
            }

            &--arrow {
                vertical-align: sub;
            }

            &--expand-options {
                font-family: inherit;
                font-size: 19px;
                background-color: govuk-colour("light-grey");
                color: $govuk-text-colour;
                border: 1px solid govuk-colour("black");
                border-radius: 5px;
                box-shadow: none;
                padding: 6px 17px;
                fill: $govuk-text-colour;
                width: 100%;
                margin-bottom: 18px;

                &:focus, &:hover {
                    color: govuk-colour("black");
                    -webkit-text-fill-color: govuk-colour("black");
                    background-color: govuk-shade(govuk-colour("light-grey"), 10%);
                    fill: govuk-colour("black");
                    border: 1px solid govuk-shade(govuk-colour("light-grey"), 40%);
                }

                &:focus:not(:hover) {
                    box-shadow:
                            0 0 0 3px govuk-colour("black");
                    outline: 2px solid transparent;
                    background-color: $govuk-focus-colour;
                }

                &:active:hover,
                &:focus:hover {
                    box-shadow:
                            0 0 0 3px $govuk-focus-colour;
                    outline: 2px solid transparent;
                }

                @include respond-to('extra-small') {
                    display: inline-block;
                    width: auto;
                }
            }
        }

        &__buttons {
            all: unset;
            font-family: Arial, sans-serif;

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        &__modal-container {
            display: none;
            max-width: 1100px;
            padding-bottom: 32px;

            &:focus {
                outline: 0;
            }
        }

        &__info-heading {
            display: inline-block;
            @extend .govuk-heading-m;
            font-size: 22px;

            @include respond-to('small') {
                font-size: 24px;
            }
        }

        &__summary-heading {
            @extend .govuk-heading-s;
        }

        &__summary-text {
            max-width: 800px;
            @extend .govuk-body;

            & + .ccfw-banner__button {
                margin-top: 16px;
            }
        }

        &__third-party-section-heading {
            margin-bottom: 16px;
            @extend .govuk-heading-s;
        }

        &__third-party-section-text {
            margin-bottom: 16px;
            @extend .govuk-body;
        }

        &__third-party-section-link {
            margin-bottom: 32px;
            display: block;
            @extend .govuk-link;
        }

        &__toggle-header-container {
            position: relative;

            &:first-of-type {
                border-top: 1px solid $govuk-border-colour;
                padding-top: 16px;
            }

            & .ccfw-banner__summary-heading {
                border-top: none;
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        &__toggle-heading {
            float: left;
            width: 65%;
            @extend .govuk-heading-s;

            &--always-on {
                color: govuk-colour("blue");
                padding: 3px 6px 1px;
                border: 2px solid;
                float: right;
                font-weight: bold;
                font-size: 18px;
                font-family: Arial;
            }
        }

        &__toggle-label {
            position: relative;
            float: right;
            width: 65px;
            height: 34px;
            right: 0;
        }

        &__toggle-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: govuk-colour("green");
            -webkit-text-fill-color: govuk-colour("white");
            color: govuk-colour("white");;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
            box-shadow: none;
            width: 60px;
            height: 32px;
            border: 2px solid transparent;

            &--on-text {
                font-size: 12px;
                position: absolute;
                top: 7px;
                left: 7px;
                color: govuk-colour("white");
                display: none;
            }

            &--off-text {
                font-size: 12px;
                position: absolute;
                top: 7px;
                right: 8px;
            }

            &:before {
                content: '';
                box-sizing: border-box;
                position: absolute;
                text-align: center;
                height: 22px;
                width: 22px;
                left: 3px;
                top: 3px;
                background-color: govuk-colour("white");
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
                color: govuk-colour("white");
                border: 11px solid govuk-colour("white");
                z-index: 99999;
            }

            &:hover {
                background-color: govuk-shade(govuk-colour("green"), 20%);
            }

            &:focus {
                background-color: $govuk-focus-colour;
                box-shadow:
                        0 0 0 2px govuk-colour("white"),
                        0 0 0 4px govuk-colour("black");
                outline: none;
                color: $govuk-text-colour;
                -webkit-text-fill-color: $govuk-text-colour;

                &:before {
                    border-color: $govuk-text-colour;
                }
            }

            &:active {
                background-color: $govuk-focus-colour;
                box-shadow:
                        0 0 0 2px govuk-colour("white"),
                        0 0 0 4px govuk-colour("black");
                outline-offset: 2px;
            }

            &[aria-checked=false] {
                background-color: govuk-colour("dark-grey");
                color: govuk-colour("white");
                -webkit-text-fill-color: govuk-colour("white");

                &:before {
                    border-color: govuk-colour("white");
                }
            }

            &[aria-checked=true]:after {
                position: absolute;
                top: 5px;
                left: 7px;
            }

            &[aria-checked=true]:before {
                background-color: govuk-colour("white");
                -webkit-transform: translateX(24px);
                -ms-transform: translateX(24px);
                transform: translateX(24px);
            }

            &:after {
                position: absolute;
                top: 5px;
                left: 32px;
            }
        }


        &__expanding-section {
            @extend .govuk-details;
            padding-bottom: 32px;
            border-bottom: 1px solid $govuk-border-colour;

            &[open] .ccfw-banner__expanding-section-summary:before {
                clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
                border-color: currentColor;
            }
        }

        &__expanding-section-summary {
            @extend .govuk-details__summary;
            border-bottom: 4px solid transparent;
        }

        &__expanding-section-summary-text {
            @extend .govuk-details__summary-text;
            text-decoration: none;

            @include respond-to('extra-small') {
                display: inline-block;
                width: auto;
            }
        }

        &__expanding-section-text {
            @extend .govuk-details__text;
            padding-left: 8px;

            @include respond-to('extra-extra-small') {
                padding-left: 20px;
            }

        }

        &__table {
            @extend .govuk-table;
        }

        &__table-caption {
            padding: 0;
            color: black;
            caption-side: top;
            clip: unset;
            width: auto;
            height: auto;
            clip-path: unset;
            position: relative;
            @extend .govuk-table__caption;
        }

        &__table-header {
            @extend .govuk-table__header;
            width: 25%;

            &:nth-of-type(2) {
                width: 50%;
            }
        }

        &__table-cell {
            @extend .govuk-table__cell;
        }
    }
}

.ccfw-modal-open {
    overflow: hidden;

    & .ccfw-background-grey-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        opacity: 1;
        background: rgba(0, 0, 0, 0.6);
    }

    footer {
        -webkit-filter: blur(5px);

        /* Recede */
        -webkit-transform: scale(0.9);
    }
}

/* Cookie banner button, for when banner has disappeared */

.ccfw-settings-button {
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: none;
    background: transparent;
    position: fixed;
    z-index: 100000;
    box-sizing: border-box;
    margin-bottom: 0;
    text-align: right;
    padding: 20px 8px 8px 20px;
    border: 0;
    height: 94px;
    width: 94px;
    color: #FFF;
    fill: #FFF;
    
    &:hover {
        background-color: transparent;

        .ccfw-settings-button__background-triangle path {
            fill: #0B0C0C;
        }
    }

    &:active,
    &:focus {
        background: transparent;
        box-shadow: transparent;
        outline: none;
        color: #0B0C0C;
        fill: #0B0C0C;
        top: initial;

        .ccfw-settings-button__background-triangle path {
            fill: #FD0;
        }
        .ccfw-settings-button__icon path {
            fill: #0B0C0C;
        }
    }

    &__icon {
        max-width: 24px;
        max-height: 24px;
        margin-top: 20px;

        path {
            fill: #FFF;
        }
    }

    &__background-triangle {
        position: fixed;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        bottom: 0;
        right: 0;
        z-index: -1;
        height: 94px;
        width: 94px;

        path {
            fill: #505A5F;
        }
    }

    span.ccfw-settings-button__text {
        font-size: 12px;
        margin-bottom: 0;
    }
}

.ccfw-cookie-banner-open {
    height: 100%;
}
