@import "components/CookieManagement/src/scss/app";

a.nav-tab:focus {
  outline: none;
}
.ccfw-component-settings-section {
  display: none;
}

.ccfw-component-input {
  width: 100%;
  max-width:400px;
}

@media screen and (max-width: 782px) {

}
